.input {
    width: 100%;
    display: block;
    color: rgb(15 23 42);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem;
    border-color: rgb(209 213 219);
    border-width: 1px;
    border-radius: 0.5rem;
}

.suggestions {
    overflow: auto;
    max-height: 400px;
    margin-top: 0.25rem;
    position: relative;
}

.suggestionItem {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    width: 100%;
    display: inline-flex;
}

.suggestionItem:focus,
.suggestionItem.active {
    background-color: rgb(243 244 246)
}